---
import { getBlogList } from '@/utils/collection'
import BlogListCard from './BlogListCard.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  count?: number
  blogPostList?: CollectionEntry<'blogs'>[]
}

const { count, blogPostList } = Astro.props
const blogList = blogPostList ||  await getBlogList()

if (count) blogList.splice(count)
---

<section>
  <ul>
    {blogList.map((post) => <BlogListCard {post} />)}
  </ul>
</section>
