---
import type { TagsType } from '@/types'

type Props = {
  tags: TagsType
}

const { tags } = Astro.props
const sortedKeys = Object.keys(tags).sort()
---

<div>
  {
    sortedKeys.map((tag) => (
      <a href={`/tags/${tag}`}>
        {tag} <span>({tags[tag]})</span>
      </a>
    ))
  }
</div>

<style>
  div {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--space-xs);

    span {
      font-size: var(--step--1);
      text-decoration-skip-ink: none;
    }

    max-width: 60%;
    @media (max-width: 768px) {
      max-width: 95%;
    }
  }
</style>
