---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 5
---

<h2 class="page-header">Recent Posts</h2>

{% set postslist = collections.blogs | head(-1 * numberOfLatestPostsToShow) %}
{% include "postslist.njk" %}
