---
import TilIndexList from '@/components/til/TilIndexList.astro'
import Base from '@/layouts/Base.astro'
---

<Base title='Chaitanya Varu: TIL'>
  <h1>Today I Learned</h1>
  <TilIndexList />
</Base>
