:root {
    --gradient-1: #ecc9fd;
    --gradient-2: #ecf2de;
    --baseText: #2e3440;
    --highlightText: #3295a9;

    --navBG: #c95f4a;
    --navBGHover: #d96f5a;

    --socialsBG: #c95f4a;
    --box-shadow-color: #893b2b;

    --navText: #f3d3ff;
    --iconsBG: #eceff4;
    --cardBG: #c95f4a;
}

html,
body,
p,
h1 {
    margin: 0;
    padding: 0;
}
/* ============================================ */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-sizing: border-box;

    /* https://cssgradient.io  */
    background: var(--gradient-1);
    background: linear-gradient(175deg, var(--gradient-1) 36%, var(--gradient-2) 84%);

    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    color: var(--baseText);
    text-align: center;

    height: 100%;
    width: 100%;
}

/* ============================================ */

nav {
    background-color: var(--navBG);
    color: var(--navText);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    & .nav-header {
        margin-right: auto;
        font-size: 32px;
    }

    & a {
        text-decoration: none;
        color: var(--navText);
        margin: 2px;
        padding: 15px 8px;
        border-radius: 10px;
        cursor: pointer;
        transition: border-bottom ease;
    }
    & .nav-menu a:hover {
        background-color: var(--navBGHover);
    }
}

/* ============================================ */

.about {
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        background-color: var(--socialsBG);
        margin: 30px;
        padding: 20px;
        border-radius: 10px;
        max-width: min-content;

        /* https://cssgenerator.org/box-shadow-css-generator.html  */
        box-shadow: 5px 8px 16px 5px rgba(0, 0, 0, 0.64);
        -webkit-box-shadow: 5px 8px 16px 5px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 5px 8px 16px 5px rgba(0, 0, 0, 0.64);
        box-shadow: 5px 8px 16px 5px var(--box-shadow-color);

        color: var(--iconsBG);
        & img {
            width: 50px;
            height: 50px;
        }
    }
}

/* ============================================ */
/* ============================================ */
