:root {
  /* Font Size */
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step -2: 12.5px → 13.8889px */
  --step--2: clamp(0.7813rem, 0.7511rem + 0.151vi, 0.8681rem);
  /* Step -1: 15px → 16.6667px */
  --step--1: clamp(0.9375rem, 0.9013rem + 0.1812vi, 1.0417rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  /* Step 1: 21.6px → 24px */
  --step-1: clamp(1.35rem, 1.2978rem + 0.2609vi, 1.5rem);
  /* Step 2: 25.92px → 28.8px */
  --step-2: clamp(1.62rem, 1.5574rem + 0.313vi, 1.8rem);
  /* Step 3: 31.104px → 34.56px */
  --step-3: clamp(1.944rem, 1.8689rem + 0.3757vi, 2.16rem);
  /* Step 4: 37.3248px → 41.472px */
  --step-4: clamp(2.3328rem, 2.2426rem + 0.4508vi, 2.592rem);
  /* Step 5: 44.7898px → 49.7664px */
  --step-5: clamp(2.7994rem, 2.6912rem + 0.5409vi, 3.1104rem);

  /* Spacing */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */

  /* Space 2xs: 5px → 5px */
  --space-2xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  /* Space xs: 9px → 10px */
  --space-xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);
  /* Space 4xl: 144px → 160px */
  --space-4xl: clamp(9rem, 8.6523rem + 1.7391vi, 10rem);
  /* Space 5xl: 216px → 240px */
  --space-5xl: clamp(13.5rem, 12.9784rem + 2.6087vi, 15rem);
  /* Space 6xl: 324px → 360px */
  --space-6xl: clamp(20.25rem, 19.4677rem + 3.9131vi, 22.5rem);
  /* Space 7xl: 432px → 480px */
  --space-7xl: clamp(27rem, 25.9568rem + 5.2174vi, 30rem);
  /* Space 8xl: 648px → 720px */
  --space-8xl: clamp(40.5rem, 38.9355rem + 7.8261vi, 45rem);

  --stroke-thickness: 0.125em;
  --stroke-thin: 0.125px;

  /* Font  */
  --mono-font: "Cascadia Code", "Courier New", Courier, monospace;
  --handwriting-font: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  --base-font: var(--handwriting-font);

  /* Breakpoints */
  --screen-xs: 0;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;

  /* Colors */

  --dark-hs: 211, 21%;
  --inline-code-background: hsl(var(--dark-hs), 90%);
  --inline-code-color: hsl(var(--dark-hs), 30%);

  /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 14deg 30% 30%;
  --project-card-shadow: 0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.09),
    1.9px 1.8px 3.1px -0.7px hsl(var(--shadow-color) / 0.1),
    4.5px 4.3px 7.4px -1.4px hsl(var(--shadow-color) / 0.11),
    10.5px 10.1px 17.4px -2px hsl(var(--shadow-color) / 0.12);
}

html[data-theme='dark'] {
  --background-gradient-1: #18202a;
  --background-gradient-2: #1f2937;
  --background-gradient-3: #263244;
  --base-background: linear-gradient(var(--background-gradient-1), var(--background-gradient-2), var(--background-gradient-3));

  --base-text: #c5d0de;
  --accent: #2b7fec;
  --secondary-color: #3a4758;

  --card-text: #c5d0de;
  --card-background: var(--secondary-color);

  --inline-code-background: hsl(var(--dark-hs), 90%);
  --inline-code-color: hsl(var(--dark-hs), 30%);
}

html[data-theme='light'] {
  --background-gradient-1: #ecc9fd;
  --background-gradient-2: #f3dcfe;
  --background-gradient-3: #f9effe;
  --base-background: linear-gradient(var(--background-gradient-1), var(--background-gradient-2), var(--background-gradient-3));

  --base-Text: #161019;
  --accent: #d96f5a;

  --card-background: #c95f4a;
  --card-text: #f3d3ff;

  --inline-code-background: hsl(var(--dark-hs), 90%);
  --inline-code-color: hsl(var(--dark-hs), 30%);
}

/* ===================================== */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: var(--base-background);
  background-attachment: fixed;
  scroll-behavior: smooth;

  font-size: var(--step-0);
  color: var(--base-text);

  font-family: var(--base-font);
  font-weight: normal;
}

/* ============================= */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

/* ============================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 0.9;
  text-wrap: balance;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

hr {
  background: var(--accent);
  border: none;
  height: var(--stroke-thin);
  margin-block: var(--space-l);
}

a {
  color: var(--base-text);
  text-decoration-color: var(--accent);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: var(--stroke-thickness);
  text-underline-offset: var(--stroke-thickness);
  transition: all 100ms ease-in-out;
}

code,
.astro-code {
  font-family: var(--mono-font);
  font-size: 1rem;
}

.astro-code {
  padding: 1rem;
}

a code {
  color: inherit !important;
}

pre,
code,
kbd {
  font-family: var(--mono-font);
  font-size: 0.875em;
}

:not(pre)>code {
  background: var(--secondary-color);
  padding: 0.25ch 0.5ch;
}

kbd {
  border: 1px solid var(--accent);
  border-bottom-width: calc(--stroke-thickness);
  border-radius: calc(var(--stroke-thickness) * 2);
  color: var(--base-text);
  padding: 0.25ch 0.5ch;
}

blockquote {
  border-left: var(--stroke-thickness) solid currentColor;
  color: var(--base-text);
  margin-left: 0;
  margin-right: 0;
  padding: var(--space-xs) var(--space-m);
}

blockquote p {
  font-style: italic;
  line-height: 1.25;
  margin: 0;
}

/* Necessary because blockquote content is already italic  */
blockquote :is(i, em) {
  font-style: normal;
  text-decoration: underline;
}

li ol,
li ul {
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-2xs);
}

/* ============================= */

/* divs with article as direct child, for the markdown generated pages */
div:has(> article) {
  max-width: 60%;
  line-height: 1.25;

  small {
    font-size: var(--step--1)
  }

  h1 {
    font-size: var(--step-5);
    margin-bottom: var(--space-l);
  }

  p {
    margin-block-end: 1em;
  }

  @media (max-width: 768px) {
    max-width: 95%;
  }
}

article {

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 25px 0 10px;
  }
}
