:root {
  --gradient-1: #ecc9fd;
  --gradient-2: #f3dcfe;
  --gradient-3: #f9effe;
  --accent: #d96f5a;

  --baseTextDark: #2e3440;
  --baseTextLight: #f3d3ff;
  --highlightText: #3295a9;

  --navBG: #c95f4a;
  --navBGHover: #d96f5a;
  --navText: var(--baseTextLight);

  --socialsBG: var(--navBG);
  --social-box-shadow-color: #893b2b;

  --cardBG: var(--navBG);
  --cardText: var(--baseTextLight);

  --btnBG: var(--social-box-shadow-color);
  --btnBorder: #733529;

  --dark-hs: 211, 21%;
  --inline-code-background: hsl(var(--dark-hs), 90%);
  --inline-code-color: hsl(var(--dark-hs), 30%);

  /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 14deg 30% 30%;
  --project-card-shadow: 0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.09),
    1.9px 1.8px 3.1px -0.7px hsl(var(--shadow-color) / 0.1),
    4.5px 4.3px 7.4px -1.4px hsl(var(--shadow-color) / 0.11),
    10.5px 10.1px 17.4px -2px hsl(var(--shadow-color) / 0.12);


  /* Font Size */
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7511rem + 0.151vi, 0.8681rem);
  --step--1: clamp(0.9375rem, 0.9013rem + 0.1812vi, 1.0417rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2978rem + 0.2609vi, 1.5rem);
  --step-2: clamp(1.62rem, 1.5574rem + 0.313vi, 1.8rem);
  --step-3: clamp(1.944rem, 1.8689rem + 0.3757vi, 2.16rem);
  --step-4: clamp(2.3328rem, 2.2426rem + 0.4508vi, 2.592rem);
  --step-5: clamp(2.7994rem, 2.6912rem + 0.5409vi, 3.1104rem);

  /* Spacing */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */
  --space-2xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  --stroke-thickness: 0.125em;

  /* Font  */
  --mono-font: "Cascadia Code", "Courier New", Courier, monospace;

  /* Breakpoints */
  --screen-xs: 0;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(var(--gradient-1), var(--gradient-2), var(--gradient-3));
  background-attachment: fixed;
  scroll-behavior: smooth;

  font-size: var(--step-0);
  color: var(--baseTextDark);

  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  font-weight: normal;
}

/* ============================= */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

/* ============================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 0.9;
  text-wrap: balance;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

hr {
  background: var(--baseTextDark);
  border: none;
  height: var(--stroke-thickness);
  margin-block: var(--space-l) !important;
}

a {
  color: var(--highlightText);
  text-decoration-color: var(--baseTextDark);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: var(--stroke-thickness);
  text-underline-offset: var(--stroke-thickness);
  transition: all 100ms ease-in-out;
}

a[aria-current="page"],
a:hover {
  text-decoration-color: currentColor;
}

:where(.focusable\(\)):focus-within,
:where(:focus) {
  outline: var(--stroke-thickness) solid var(--accent);
  outline-offset: var(--stroke-thickness);
}

code,
.astro-code {
  font-family: var(--mono-font);
  font-size: 1rem;
}

.astro-code {
  padding: 1rem;
}

a code {
  color: inherit !important;
}

pre,
code,
kbd {
  font-family: var(--mono-font);
  font-size: 0.875em;
}

pre:not([class]),
:not(pre)>code:not([class]) {
  background: var(--inline-code-background);
  color: var(--inline-code-color);
  padding: 0.25ch 0.5ch;
}

pre:not([class]) {
  overflow-x: auto;
}

kbd {
  border: 1px solid var(--accent);
  border-bottom-width: calc(--stroke-thickness);
  border-radius: calc(var(--stroke-thickness) * 2);
  color: var(--baseTextLight);
  padding: 0.25ch 0.5ch;
}

blockquote {
  border-left: var(--stroke-thickness) solid currentColor;
  color: var(--baseTextLight);
  margin-left: 0;
  margin-right: 0;
  padding: var(--space-xs) var(--space-m);
}

blockquote p {
  font-style: italic;
  line-height: 1.25;
  margin: 0;
}

/* Necessary because blockquote content is already italic  */
blockquote :is(i, em) {
  font-style: normal;
  text-decoration: underline;
}

li ol,
li ul {
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-2xs);
}

mark {
  background-color: var(--navBG);
  color: var(--baseTextDark)
}

/* ============================= */

/* divs with article as direct child, for the markdown generated pages */
div:has(> article) {
  max-width: 60%;
  line-height: 1.25;

  small {
    font-size: var(--step--1)
  }

  h1 {
    font-size: var(--step-5);
    margin-bottom: var(--space-l);
  }

  p {
    margin-block-end: 1em;
  }

  @media (max-width: 768px) {
    max-width: 95%;
  }
}

article {

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 25px 0 5px;
  }
}
