---
import Base from '@/layouts/Base.astro'
import BlogList from '@/layouts/BlogList.astro'
import ProjectList from '@/layouts/ProjectList.astro'
---

<Base>
  <h1>Astro</h1>
  <BlogList />
  <ProjectList />
</Base>
