---
import externalLink from '@/assets/svg/external-link.svg'
import { Image } from 'astro:assets'
---

<li class='resume'>
  <a href='https://resume.chaitanyavaru.workers.dev' target='_blank'>
    <span>Resume</span>
    <Image class='external-link-icon' src={externalLink} alt='external link icon' />
  </a>
</li>

<style>
  .resume {
    position: relative;
    display: inline-block;

    a {
      text-decoration: none;
      color: inherit;
      position: relative;
    }

    span {
      font-size: 16px;
      display: inline-block;
      padding-right: 18px;
    }

    .external-link-icon {
      position: absolute;
      top: -2px;
      right: 0;
      width: var(--step--2);
      height: var(--step--2);
      filter: invert(var(--icon-color-invert)) sepia(0%) saturate(0%) hue-rotate(0deg)
        brightness(100%) contrast(100%);
    }
  }
</style>
