---
import { getBlogList } from '@/utils/collection'
import { readableDate } from '@/utils/date'

const blogList = await getBlogList()
---

<section>
  {
    blogList.map((post) => {
      const url = `/blogs/${post.slug}`

      return (
        <div style='margin: 15px 0;'>
          <a href={url}>
            <h6 style='color: macacypurple; margin: 0;'>{post.data.title}</h6>
          </a>
          <p style='margin: 0;'>{readableDate(post.data.publishedDate, 'dd-LL-yyyy')}</p>
        </div>
      )
    })
  }
</section>
