---
import { readableDate } from '@/utils/date'

const { data, render } = Astro.props
const { Content } = await render()
---

<div>
  <small>{readableDate(data.publishedDate)}</small>
  <h1>{data.title}</h1>
  <article>
    <Content />
  </article>
</div>
