---
import { readableDate } from '@/utils/date'
import BlogPostTags from './BlogPostTags.astro'
import OtherPosts from './OtherPosts.astro'

const { data, render } = Astro.props
const { Content } = await render()
---

<div>
  <small>{readableDate(data.publishedDate)}</small>
  <h1>{data.title}</h1>
  {data.tags && <BlogPostTags tags={data.tags} />}
  <article>
    <Content />
  </article>
  <hr />
  <OtherPosts {data}/>
</div>

<style>
  small {
    opacity: 0.6;
  }
  hr {
    opacity: 0.5;
  }
</style>
