---
import { getBlogList } from '@/utils/collection'
import BlogListCard from './BlogListCard.astro'

type Props = {
  count?: number
}

const blogList = await getBlogList()

const { count } = Astro.props
if (count) blogList.splice(count)
---

<section>
  <ul>
    {blogList.map((post) => <BlogListCard {post} />)}
  </ul>
</section>
