---
import BlogList from '@/components/blogs/BlogList.astro'
---

<div>
  <section>
    <h2>Chaitanya Varu</h2>
    <p>Backend Developer from India</p>
  </section>
  <section>
    <h2>Recent Posts</h2>
    <BlogList count={5} />
  </section>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: var(--page-heading-color);
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:nth-child(2) > h2 {
        margin-block-start: var(--space-l);
      }
    }
  }
</style>
