---
import { getProjectList } from '@/utils/collection'
import ProjectCard from './ProjectCard.astro'

const projectList = await getProjectList()
---

<section>
  {projectList.map((project) => <ProjectCard {project} />)}
</section>
