<div id="contact">
    <h2 class="section-header">Contact</h2>
    <form id="contact-form">
        <div class="form-data">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div class="form-data">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="form-data">
            <label for="message">Message</label>
            <textarea id="message" name="message" required rows="5" cols="23"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div id="response-message" style="display: none"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const contactForm = document.getElementById('contact-form');
        if (contactForm && !(contactForm instanceof HTMLFormElement)) {
            document.getElementById('contact').hidden = true;
            return;
        }
        const responseMessage = document.getElementById('response-message');

        contactForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            const formData = new FormData(e.target);

            const workerEndpoint = 'https://contact-form-nextjs-chi.vercel.app/api/contact-form';

            try {
                const response = await fetch(workerEndpoint, {
                    method: 'POST',
                    body: JSON.stringify(Object.fromEntries(formData)),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const data = await response.json();
                    responseMessage.innerText = `&check; ${data.message}`;
                    contactForm.style.display = 'none';
                    responseMessage.style.display = 'block';
                } else {
                    responseMessage.innerText = `&#x2715; Message sending failed.`;
                    responseMessage.style.display = 'block';
                }
            } catch (error) {
                responseMessage.innerText = `&#x2715; error: ${error}`;
            }
        });
    });
</script>
