<div id="contact">
    <h2 class="section-header">Contact</h2>
    <form id="contact-form">
        <div class="form-data">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div class="form-data">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="form-data">
            <label for="message">Message</label>
            <textarea id="message" name="message" required rows="5" cols="23"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div id="response-message" style="display: none"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const contactForm = document.getElementById('contact-form');
        if (contactForm && !(contactForm instanceof HTMLFormElement)) {
            document.getElementById('contact').hidden = true;
            return;
        }
        const responseMessage = document.getElementById('response-message');

        contactForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            const formData = new FormData(e.target);

            const endpoint = 'https://contact-form-nextjs-chi.vercel.app/api/contact-form';

            try {
                const response = await fetch(endpoint, {
                    method: 'POST',
                    body: JSON.stringify(Object.fromEntries(formData)),
                    headers: { 'Content-Type': 'application/json' },
                });

                if (response.ok) {
                    responseMessage.innerHTML = '&#x2714; Message Sent';
                } else {
                    responseMessage.innerHTML = '&#x2716; Error on sending message';
                }
            } catch (error) {
                responseMessage.innerHTML = `&#x2716; ${error}`;
            }

            contactForm.reset();
            responseMessage.style.display = 'block';

            setTimeout(() => (responseMessage.style.display = 'none'), 5000);
        });
    });
</script>
