<div id="contact">
    <h2 class="section-header">Contact</h2>
    <form id="contact-form">
        <div class="form-data">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div class="form-data">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="form-data">
            <label for="message">Message</label>
            <textarea id="message" name="message" required rows="5" cols="23"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<script>
    document.getElementById('contact-form').addEventListener('submit', async function (e) {
        e.preventDefault();
        const formData = new FormData(e.target);

        const workerEndpoint = 'cloudflare-contact-form.chaitanyavaru.workers.dev';

        try {
            const response = await fetch(workerEndpoint, {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                alert('Message sent successfully!');
            } else {
                alert('Message sending failed.');
            }
        } catch (error) {
            alert('Message sending failed.');
        }
    });
</script>
