<head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="origin" />

    <link rel="shortcut icon" href="{{ "/code.svg" }}" type="image/x-icon">

    <!-- static CSS file for dev -->
    <link rel="stylesheet" href="{{ "/css/style.css" }}" />

    <!-- asset CSS for prod -->
    <!-- {{ $minifiedCSS := resources.Get "./css/style.css" | minify | fingerprint }} -->
    <!-- <link rel="stylesheet" href=".{{ $minifiedCSS.Permalink }}" /> -->

    <!-- preconneting to cloudinary -->
    <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />

    <!-- preloading images  -->
    {{ range .Site.Data.socials }}
    <link rel="preload" href="{{ .imgLink }}" as="image" />
    {{ end }}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZ5KEBZ8QW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-QZ5KEBZ8QW');
    </script>
</head>
