<head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="origin" />

    <link rel="shortcut icon" href="{{ "/svg/code.svg" }}" type="image/x-icon"> <link
    rel="stylesheet" href="{{ "/css/style.css" }}" />

    <!-- preconneting to cloudinary -->
    <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />

    <!-- preloading images  -->
    {{ range .Site.Data.socials }}
    <link rel="preload" href="{{ .imgLink }}" as="image" />
    {{ end }}

    <meta name="theme-color" content="#c95f4a" />
    <!-- <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000" /> for dark light mode -->

    <!-- open grapn tags  -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Chaitanya Varu" />
    <meta
        property="og:image"
        content="https://res.cloudinary.com/dmtacem5p/image/upload/v1694933643/github/portfolio_open_graph_img.png"
    />
    <meta property="og:url" content="https://chaitanyavaru.me" />
    <!-- <meta property="og:description" content="Backend Developer | Portfolio website" /> -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZ5KEBZ8QW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-QZ5KEBZ8QW');
    </script>
</head>
