<nav>
    <div class="nav-header">
        <a href="#">Chaitanya Varu</a>
    </div>

    <div class="nav-menu">
        <a href="#about" id="navbar-about">About</a>
        <a href="#skills" id="navbar-skills">Skills</a>
        <a href="#projects" id="navbar-projects">Projects</a>
        <!-- <a href="#contact">Contact</a> -->
        <a href="https://chaitanya-varu-blog.netlify.app" target="_blank" id="navbar-blog"
            ><span>Blog</span> <img src="{{ "/svg/external-link-svgrepo-com.svg" }}" alt="external
            link">
        </a>
    </div>
</nav>
