<div id="projects">
    <h2 class="section-header">Projects</h2>
    <div class="project-list">
        {{ range .Site.Data.projects }}
        <div class="project-card">
            <p class="project-title">{{ .title }}</p>
            <div class="card-media">
                {{ if .isVid }}
                <video src="{{ .mediaLink }}" autoplay loop muted playsinline></video>
                {{ else }}
                <img src="{{ .mediaLink }}" alt="{{ .title }}" />
                {{ end }}
            </div>
            <div class="card-body">
                <p class="project-description">{{ .description }}</p>
            </div>
            <div class="card-actions">
                <a href="{{ .repoLink }}"><button>Repo Link</button></a>
            </div>
        </div>
        {{ end}}
    </div>
</div>
