---
import BaseHeaderlayout from "./BaseHeader.astro";
const { title = 'Chaitanya Varu', description='Chaitanya Varu\'s Blog site' } = Astro.props;
---

<html lang="en">
  <BaseHeaderlayout title={title} description={description} />
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
