---
import BaseHeader from '@/components/BaseHeader.astro'
import Navbar from '@/components/Navbar.astro'
---

<html lang='en'>
  <BaseHeader />
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
