---
import BaseHeader from '@/components/header/BaseHeader.astro'
import Navbar from '@/components/Navbar.astro'

const {title, description} = Astro.props
---

<html lang='en' data-theme='dark'>
  <BaseHeader {title} {description}/>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
