---
import { getBlogList } from '@/utils/collection'
import { readableDate } from '@/utils/date'

const blogList = await getBlogList()
---

<section>
  {
    blogList.map((blog) => {
      return (
        <div style='margin: 15px 0;'>
          <h6 style='color: macacypurple; margin: 0;'>{blog.data.title}</h6>
          <p style='margin: 0;'>{blog.data.description}</p>
          <p style='margin: 0;'>{readableDate(blog.data.publishedDate)}</p>
        </div>
      )
    })
  }
</section>
